---
layout: login
---

<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <div class="d-block d-xl-none">
        <img class="" src="{{ site.baseurl }}/assets/img/LOGO_PhollowUp-Colored.png" alt="" width="" height="32">
      </div>
      <div class="d-none d-xl-block">
        <img class="" src="{{ site.baseurl }}/assets/img/LOGO_PhollowUp-White.png" alt="" width="" height="32">
      </div>
    </a>
    <span>
      <span class="d-none d-md-inline-block mr-3">Already have an account?</span>
      <a class="btn btn-light btn-wide btn-pills" href="{{ site.baseurl }}/login.html">Sign In</a> 
    </span>
  </div>
</nav>

<main class="container-fluid">
  <div class="row">
    <div class="login-features">
    </div>
    <div class="col d-flex align-self-center">
<div class="login-form">
  <div class="heading">
    <h1 class="heading-title h3">Create Tiaxa Account</h1>
    <p class="heading-subtitle">If you already have Tiaxa Account, you can <a href="">sign in here</a></p>
  </div>
  {% include components/organisms/forms/full-name.html 
    form-layout=""
    isInputLarge=""
    isInputRequired=""
    hasFormLabel=""
    form-label-size=""
    form-label-text="Full Name"
    hasFormHelper="none"
    form-helper-text=""
  %}

  {% include components/molecules/form-group/input.html 
    form-layout=""
    isInputLarge=""
    isInputRequired=""
    hasFormLabel=""
    form-label-size=""
    form-label-text="Username"
    input-size=""
    input-type="text"
    input-name="username"
    input-value=""
    input-placeholder="your username"
    hasFormIcon="none"
    form-icon-name=""
    form-icon-placement=""
    hasFormHelper="none"
    form-helper-text=""
  %}
  {% include components/molecules/form-group/input.html 
    form-layout=""
    isInputLarge=""
    isInputRequired=""
    hasFormLabel=""
    form-label-size=""
    form-label-text="Email"
    input-size=""
    input-type="email"
    input-name="email"
    input-value=""
    input-placeholder="name@company.com"
    hasFormIcon="none"
    form-icon-name=""
    form-icon-placement=""
    hasFormHelper="none"
    form-helper-text=""
  %}

  {% include components/molecules/form-group/input.html 
    form-layout=""
    isInputLarge=""
    isInputRequired=""
    hasFormLabel=""
    form-label-size=""
    form-label-text="Password"
    input-size=""
    input-type="password"
    input-name="password"
    input-value=""
    input-placeholder="Password"
    hasFormIcon="none"
    form-icon-name=""
    form-icon-placement=""
    hasFormHelper="none"
    form-helper-text=""
  %}

  {% include components/molecules/form-group/input.html 
    form-layout=""
    isInputLarge=""
    isInputRequired=""
    hasFormLabel=""
    form-label-size=""
    form-label-text="Confirm Password"
    input-size=""
    input-type="password"
    input-name="password"
    input-value=""
    input-placeholder="Confirm Password"
    hasFormIcon="none"
    form-icon-name=""
    form-icon-placement=""
    hasFormHelper="none"
    form-helper-text=""
  %}
 <div class="button-group text-center">
    <a class="btn btn-primary btn-lg btn-wide btn-pills" href="{{ site.baseurl }}/home.html">Continue</a>
    <div class="text-sm text-muted mt-3">By clicking "Continue" I agree to Tiaxa's <br><a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.</div>
  </div>
</div>
    </div>
  </div>
</main>




