<div class="modal" id="review-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div>





          <div class="d-flex align-items-start align-items-center justify-content-between mb-3">

            <ul class="list-inline mb-0">
              <li class="list-inline-item lead"><b>Jasper Lepardo</b></li>
              <li class="list-inline-item">
              <ul class="list-inline start-rating">
                <li class="list-inline-item"><i class="fas fa-star"></i></li>
                <li class="list-inline-item"><i class="fas fa-star"></i></li>
                <li class="list-inline-item"><i class="fas fa-star"></i></li>
                <li class="list-inline-item"><i class="fas fa-star-half-alt"></i></li>
                <li class="list-inline-item"><i class="far fa-star"></i></li>
              </ul>
              </li>
            </ul>
            <p class="card-text text-muted">Reviewed Yesterday at <img src="/assets/img/Agoda_logo.svg" alt="" height="32"></p>
          </div>
          <p class="card-text">Rundown hotel rooms, poor housekeeping staff service ,This hotel needs a major upkeep and maintenance works. For the room rate that I paid - Php12,800/night- the bathroom pipes were clogged, the housekeeping staff took forever to deliver our requests, the carpet is filthy, and no safety handles for PwDs inside the bathroom, except for one on the shower wall. Bath tub is too high for a pwd who has dofficulty climbing. Plus, the twin beds are soooo small. Marriott has better beds and rooms.</p>
          <p class="mb-0">Task:</p>
          <ul class="list-inline mb-0">
            <li class="list-inline-item badge badge-light"><b>Room:</b> Unclog bathroom pipes</li>
            <li class="list-inline-item badge badge-light"><b>Cleanliness:</b> Disinfect beddings</li>
            <li class="list-inline-item badge badge-light"><b>Room:</b> Vacuum floor mat</li>
            <li class="list-inline-item badge badge-light"><b>Facility:</b> Fix light bulbs</li>
          </ul>




        </div>
        <button class="close" type="button">&times;</button>
      </div>
      <div class="modal-nav">
        {% include components/molecules/nav-tabs.html
          nav-type="nav-tabs"
          isLarge=""
          isStacked=""
          isJustified=""
          isResponsive="nav-tabs-responsive"
          list-value-name=site.data.navigation.review-setting
          hasIcon=""
        %}
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane active show" id="reply-tab">
            {% include components/molecules/form-group/select.html 
              form-layout="horizontal"
              isInputLarge=""
              isInputRequired=""
              hasFormLabel=""
              form-label-class="form-label"
              form-label-size="col-lg-3"
              form-label-text="Template"
              input-size="col-lg-6"
              input-type=""
              input-name="select-template"
              input-value=""
              input-placeholder="Select Template"
              hasFormIcon="none"
              form-icon-name=""
              form-icon-placement=""
              hasFormHelper="none"
              form-helper-text=""
            %}
            {% include components/molecules/form-group/textarea.html 
              form-layout="horizontal"
              isInputLarge=""
              isInputRequired=""
              hasFormLabel=""
              form-label-class="form-label"
              form-label-size="col-lg-3"
              form-label-text="Message"
              input-size="col-lg-6"
              input-type=""
              input-name="message"
              input-value=""
              input-placeholder="Write your message here"
              hasFormIcon="none"
              form-icon-name=""
              form-icon-placement=""
              hasFormHelper="none"
              form-helper-text=""
            %}
          </div>
          <div class="tab-pane" id="create-a-task-tab">
            {% include components/molecules/form-group/select.html 
              form-layout="horizontal"
              isInputLarge=""
              isInputRequired=""
              hasFormLabel=""
              form-label-class="form-label"
              form-label-size="col-lg-3"
              form-label-text="Category"
              input-size="col-lg-6"
              input-type=""
              input-name="category"
              input-value=""
              input-placeholder="Select Category"
              hasFormIcon="none"
              form-icon-name=""
              form-icon-placement=""
              hasFormHelper="none"
              form-helper-text=""
            %}
            {% include components/molecules/form-group/select.html 
              form-layout="horizontal"
              isInputLarge=""
              isInputRequired=""
              hasFormLabel=""
              form-label-class="form-label"
              form-label-size="col-lg-3"
              form-label-text="Task"
              input-size="col-lg-6"
              input-type=""
              input-name="task"
              input-value=""
              input-placeholder="Select Task"
              hasFormIcon="none"
              form-icon-name=""
              form-icon-placement=""
              hasFormHelper="none"
              form-helper-text=""
            %}
            {% include components/molecules/form-group/select.html 
              form-layout="horizontal"
              isInputLarge=""
              isInputRequired=""
              hasFormLabel=""
              form-label-class="form-label"
              form-label-size="col-lg-3"
              form-label-text="Department"
              input-size="col-lg-6"
              input-type=""
              input-name="department"
              input-value=""
              input-placeholder="Select Department"
              hasFormIcon="none"
              form-icon-name=""
              form-icon-placement=""
              hasFormHelper="none"
              form-helper-text=""
            %}
            {% include components/molecules/form-group/textarea.html 
              form-layout="horizontal"
              isInputLarge=""
              isInputRequired=""
              hasFormLabel=""
              form-label-class="form-label"
              form-label-size="col-lg-3"
              form-label-text="Message"
              input-size="col-lg-6"
              input-type=""
              input-name="message"
              input-value=""
              input-placeholder="Write your message here"
              hasFormIcon="none"
              form-icon-name=""
              form-icon-placement=""
              hasFormHelper="none"
              form-helper-text=""
            %}
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button class="btn btn-light btn-wide" data-dismiss="modal" type="button">Cancel</button>
        <button class="btn btn-primary btn-wide" type="button">Save Changes</button>
      </div> -->
    </div>
  </div>
</div>