<div class="modal" id="select-branch-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        Select branch
      </div>
      <div class="modal-body">
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-lg">
              <img class="card-img" src="https://dummyimage.com/1080x1:1/" height="276" alt="">
            </div>
            <div class="col-lg-auto">
              <div class="card-body">
                <h6 class="card-title h4">Edsa Shangri-La</h6>
                <!-- <h6 class="card-title">172 Negative Comments</h6> -->
                <div>
                  <div class="media">
                    <div class="mr-3">
                      <p class="display-4 mb-0">4.0</p>
                    </div>
                    <div class="media-body align-self-end">
                      <p class="mb-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                      <p class="small text-muted mb-0">Average User Rating</p>
                    </div>
                  </div>
                  <hr class="dashed">
                  <div class="row">
                    <div class="col text-center">
                      <p class="lead mb-0">180</p>
                      <p class="small text-muted mb-0">Negative Comments</p>
                    </div>
                    <div class="col text-center">
                      <p class="lead mb-0">345</p>
                      <p class="small text-muted mb-0">Possitive Comments</p>
                    </div>
                    <div class="col text-center">
                      <p class="lead mb-0">87</p>
                      <p class="small text-muted mb-0">Neutral Comments</p>
                    </div>
                  </div>
                </div>
                <!-- <hr class="dashed"> -->
                <!-- <p><b>Top 3 Cons</b></p>
                <ul>
                  <li>Staff</li>
                  <li>Comfort &amp; Facilities</li>
                  <li>Location</li>
                </ul> -->
                <!-- <a class="btn btn-primary btn-block" href="{{ site.baseurl }}/benchmark/details.html">View Hotel</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-lg">
              <img class="card-img" src="https://dummyimage.com/1080x1:1/" height="276" alt="">
            </div>
            <div class="col-lg-auto">
              <div class="card-body">
                <h6 class="card-title h4">Edsa Shangri-La</h6>
                <!-- <h6 class="card-title">172 Negative Comments</h6> -->
                <div>
                  <div class="media">
                    <div class="mr-3">
                      <p class="display-4 mb-0">4.0</p>
                    </div>
                    <div class="media-body align-self-end">
                      <p class="mb-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                      <p class="small text-muted mb-0">Average User Rating</p>
                    </div>
                  </div>
                  <hr class="dashed">
                  <div class="row">
                    <div class="col text-center">
                      <p class="lead mb-0">180</p>
                      <p class="small text-muted mb-0">Negative Comments</p>
                    </div>
                    <div class="col text-center">
                      <p class="lead mb-0">345</p>
                      <p class="small text-muted mb-0">Possitive Comments</p>
                    </div>
                    <div class="col text-center">
                      <p class="lead mb-0">87</p>
                      <p class="small text-muted mb-0">Neutral Comments</p>
                    </div>
                  </div>
                </div>
                <!-- <hr class="dashed"> -->
                <!-- <p><b>Top 3 Cons</b></p>
                <ul>
                  <li>Staff</li>
                  <li>Comfort &amp; Facilities</li>
                  <li>Location</li>
                </ul> -->
                <!-- <a class="btn btn-primary btn-block" href="{{ site.baseurl }}/benchmark/details.html">View Hotel</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-lg">
              <img class="card-img" src="https://dummyimage.com/1080x1:1/" height="276" alt="">
            </div>
            <div class="col-lg-auto">
              <div class="card-body">
                <h6 class="card-title h4">Edsa Shangri-La</h6>
                <!-- <h6 class="card-title">172 Negative Comments</h6> -->
                <div>
                  <div class="media">
                    <div class="mr-3">
                      <p class="display-4 mb-0">4.0</p>
                    </div>
                    <div class="media-body align-self-end">
                      <p class="mb-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                      <p class="small text-muted mb-0">Average User Rating</p>
                    </div>
                  </div>
                  <hr class="dashed">
                  <div class="row">
                    <div class="col text-center">
                      <p class="lead mb-0">180</p>
                      <p class="small text-muted mb-0">Negative Comments</p>
                    </div>
                    <div class="col text-center">
                      <p class="lead mb-0">345</p>
                      <p class="small text-muted mb-0">Possitive Comments</p>
                    </div>
                    <div class="col text-center">
                      <p class="lead mb-0">87</p>
                      <p class="small text-muted mb-0">Neutral Comments</p>
                    </div>
                  </div>
                </div>
                <!-- <hr class="dashed"> -->
                <!-- <p><b>Top 3 Cons</b></p>
                <ul>
                  <li>Staff</li>
                  <li>Comfort &amp; Facilities</li>
                  <li>Location</li>
                </ul> -->
                <!-- <a class="btn btn-primary btn-block" href="{{ site.baseurl }}/benchmark/details.html">View Hotel</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-lg">
              <img class="card-img" src="https://dummyimage.com/1080x1:1/" height="276" alt="">
            </div>
            <div class="col-lg-auto">
              <div class="card-body">
                <h6 class="card-title h4">Edsa Shangri-La</h6>
                <!-- <h6 class="card-title">172 Negative Comments</h6> -->
                <div>
                  <div class="media">
                    <div class="mr-3">
                      <p class="display-4 mb-0">4.0</p>
                    </div>
                    <div class="media-body align-self-end">
                      <p class="mb-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                      <p class="small text-muted mb-0">Average User Rating</p>
                    </div>
                  </div>
                  <hr class="dashed">
                  <div class="row">
                    <div class="col text-center">
                      <p class="lead mb-0">180</p>
                      <p class="small text-muted mb-0">Negative Comments</p>
                    </div>
                    <div class="col text-center">
                      <p class="lead mb-0">345</p>
                      <p class="small text-muted mb-0">Possitive Comments</p>
                    </div>
                    <div class="col text-center">
                      <p class="lead mb-0">87</p>
                      <p class="small text-muted mb-0">Neutral Comments</p>
                    </div>
                  </div>
                </div>
                <!-- <hr class="dashed"> -->
                <!-- <p><b>Top 3 Cons</b></p>
                <ul>
                  <li>Staff</li>
                  <li>Comfort &amp; Facilities</li>
                  <li>Location</li>
                </ul> -->
                <!-- <a class="btn btn-primary btn-block" href="{{ site.baseurl }}/benchmark/details.html">View Hotel</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-lg">
              <img class="card-img" src="https://dummyimage.com/1080x1:1/" height="276" alt="">
            </div>
            <div class="col-lg-auto">
              <div class="card-body">
                <h6 class="card-title h4">Edsa Shangri-La</h6>
                <!-- <h6 class="card-title">172 Negative Comments</h6> -->
                <div>
                  <div class="media">
                    <div class="mr-3">
                      <p class="display-4 mb-0">4.0</p>
                    </div>
                    <div class="media-body align-self-end">
                      <p class="mb-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                      <p class="small text-muted mb-0">Average User Rating</p>
                    </div>
                  </div>
                  <hr class="dashed">
                  <div class="row">
                    <div class="col text-center">
                      <p class="lead mb-0">180</p>
                      <p class="small text-muted mb-0">Negative Comments</p>
                    </div>
                    <div class="col text-center">
                      <p class="lead mb-0">345</p>
                      <p class="small text-muted mb-0">Possitive Comments</p>
                    </div>
                    <div class="col text-center">
                      <p class="lead mb-0">87</p>
                      <p class="small text-muted mb-0">Neutral Comments</p>
                    </div>
                  </div>
                </div>
                <!-- <hr class="dashed"> -->
                <!-- <p><b>Top 3 Cons</b></p>
                <ul>
                  <li>Staff</li>
                  <li>Comfort &amp; Facilities</li>
                  <li>Location</li>
                </ul> -->
                <!-- <a class="btn btn-primary btn-block" href="{{ site.baseurl }}/benchmark/details.html">View Hotel</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button class="btn btn-light btn-wide" data-dismiss="modal" type="button">Cancel</button>
        <button class="btn btn-primary btn-wide" type="button">Save Changes</button>
      </div> -->
    </div>
  </div>
</div>
