<div class="modal" id="settings-add-new-task-modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title h4">Create Task</h6>
          <button class="close" type="button" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          {% include components/molecules/form-group/input.html 
            form-layout=""
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class="form-label"
            form-label-size=""
            form-label-text="Description"
            input-size=""
            input-type="text"
            input-name="task-description"
            input-value=""
            input-placeholder="Enter Task Description"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/molecules/form-group/select.html 
            form-layout=""
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class=""
            form-label-size=""
            form-label-text="Select Category"
            input-size=""
            input-type=""
            input-name="select-task-category"
            input-value=""
            input-placeholder="Select Task Category"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper=""
            form-helper-text=""
          %}
        </div>
        <div class="modal-footer">
          <button class="btn btn-light btn-wide" data-dismiss="modal" type="button">Cancel</button>
          <button class="btn btn-primary btn-wide" type="button">Create Task</button>
        </div>
      </div>
    </div>
  </div>





