<div class="modal" id="settings-add-new-category-modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title h4">Task Category</h6>
          <button class="close" type="button" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th><a href=""><i class="fas fa-plus mr-2"></i>Add New</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input class="form-control" type="text" name="" id="">
                </td>
                <td><a href=""><i class="fas fa-trash-alt mr-2"></i>Delete</a></td>
              </tr>
              <tr>
                <td>Room</td>
                <td><a href=""><i class="fas fa-trash-alt mr-2"></i>Delete</a></td>
              </tr>
              <tr>
                <td>Room</td>
                <td><a href=""><i class="fas fa-trash-alt mr-2"></i>Delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button class="btn btn-light btn-wide" data-dismiss="modal" type="button">Cancel</button>
          <button class="btn btn-primary btn-wide" type="button">Create Task</button>
        </div>
      </div>
    </div>
  </div>





