<div class="modal" id="settings-add-new-department-modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title h4">Create Department</h6>
          <button class="close" type="button" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          {% include components/molecules/form-group/input.html 
            form-layout=""
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class=""
            form-label-size=""
            form-label-text="Department Name"
            input-size=""
            input-type="text"
            input-name="department-name"
            input-value=""
            input-placeholder="Enter Department Name"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/molecules/form-group/input.html 
            form-layout=""
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class=""
            form-label-size=""
            form-label-text="Department Code"
            input-size=""
            input-type="text"
            input-name="department-code"
            input-value=""
            input-placeholder="Enter Department Code"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
          {% include components/molecules/form-group/input.html 
            form-layout=""
            isInputLarge=""
            isInputRequired=""
            hasFormLabel=""
            form-label-class=""
            form-label-size=""
            form-label-text="Contact Person"
            input-size=""
            input-type="text"
            input-name="contact-person"
            input-value=""
            input-placeholder="Enter Contact Person"
            hasFormIcon="none"
            form-icon-name=""
            form-icon-placement=""
            hasFormHelper="none"
            form-helper-text=""
          %}
        </div>
        <div class="modal-footer">
          <button class="btn btn-light btn-wide" data-dismiss="modal" type="button">Cancel</button>
          <button class="btn btn-primary btn-wide" type="button">Create Department</button>
        </div>
      </div>
    </div>
  </div>





