<div class="card" style="border-radius: 24px;">
  <div class="card-body">
    <h6 class="card-title h5">Edsa Shangri-La</h6>
    <div class="media">
      <div class="mr-3 align-self-center">
        <img class="rounded img-fluid" src="/assets/img/shangri-la-avatar.jpg" width="96" height="96" alt="">
      </div>
      <div class="media-body text-center">
        <h6 class="display-4">3.5</h6>
        <ul class="list-inline start-rating">
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
          <li class="list-inline-item"><i class="fas fa-star-half-alt"></i></li>
          <li class="list-inline-item"><i class="far fa-star"></i></li>
        </ul>
        <small class="text-muted mb-0">Average User Rating</small>
      </div>
    </div>
    <hr class="dashed">
    <div class="row">
      <div class="col text-center">
        <p class="h3 text-danger mb-0">202</p>
        <p class="small text-muted mb-0">Negative<br/>Comments</p>
      </div>
      <div class="col text-center">
        <p class="h3 text-success mb-0">345</p>
        <p class="small text-muted mb-0">Positive<br/>Comments</p>
      </div>
      <div class="col text-center">
        <p class="h3 text-secondary mb-0">87</p>
        <p class="small text-muted mb-0">Neutral<br/>Comments</p>
      </div>
    </div>

    <hr class="dashed">
    <p><b>Top 3 Cons</b></p>
    <ul class="list-unstyled">
      <li class="badge badge-danger"><i class="fas fa-times mr-2"></i>Staff</li>
      <li class="badge badge-danger"><i class="fas fa-times mr-2"></i>Comfort &amp; Facilities</li>
      <li class="badge badge-danger"><i class="fas fa-times mr-2"></i>Location</li>
    </ul>
    <p><b>Top 3 Pros</b></p>
    <ul class="list-unstyled">
      <li class="badge badge-success"><i class="fas fa-check mr-2"></i>Cleanliness</li>
      <li class="badge badge-success"><i class="fas fa-check mr-2"></i>Value for money</li>
      <li class="badge badge-success"><i class="fas fa-check mr-2"></i>Food</li>
    </ul>
    <a class="btn btn-primary btn-block" href="{{ site.baseurl }}/benchmark/details.html">View Hotel</a>
  </div>
</div>
