<div class="table-scrollable">
  <table class="table">
    <thead>
      <tr>
        <th><a href=""><i class="fas fa-sort mr-2"></i>Category</a></th>
        <th><a href=""><i class="fas fa-sort mr-2"></i>Mentions</a></th>
        <th><a href=""><i class="fas fa-sort mr-2"></i>Positve</a></th>
        <th><a href=""><i class="fas fa-sort mr-2"></i>Negative</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/reviews.html">Room</a></td>
        <td>372</td>
        <td>
          <div class="row">
            <div class="col">
              294
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 79.03225806451613%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              78
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 20.967741935483872%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/reviews.html">Quality</a></td>
        <td>284</td>
        <td>
          <div class="row">
            <div class="col">
              281
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 98.94366197183099%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              3
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 1.056338028169014%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/reviews.html">Staff</a></td>
        <td>256</td>
        <td>
          <div class="row">
            <div class="col">
              247
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 96.484375%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              9
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 3.515625%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/reviews.html">Hotel</a></td>
        <td>251</td>
        <td>
          <div class="row">
            <div class="col">
              217
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 86.45418326693228%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              34
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 13.545816733067728%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/reviews.html">Location</a></td>
        <td>216</td>
        <td>
          <div class="row">
            <div class="col">
              212
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 98.14814814814815%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              4
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 1.8518518518518516%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/reviews.html">Size</a></td>
        <td>158</td>
        <td>
          <div class="row">
            <div class="col">
              107
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 67.72151898734177%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              51
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 32.278481012658226%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/reviews.html">Cleanliness</a></td>
        <td>146</td>
        <td>
          <div class="row">
            <div class="col">
              132
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 90.41095890410958%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              14
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 9.58904109589041%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/reviews.html">Comfort</a></td>
        <td>125</td>
        <td>
          <div class="row">
            <div class="col">
              104
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 83.2%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              21
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 16.8%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/reviews.html">Food</a></td>
        <td>117</td>
        <td>
          <div class="row">
            <div class="col">
              81
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 69.23076923076923%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              36
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 30.76923076923077%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/reviews.html">Price</a></td>
        <td>102</td>
        <td>
          <div class="row">
            <div class="col">
              47
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 46.07843137254902%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              55
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 53.92156862745098%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/reviews.html">Breakfast</a></td>
        <td>78</td>
        <td>
          <div class="row">
            <div class="col">
              45
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 57.692307692307686%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              33
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 42.30769230769231%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/reviews.html">View</a></td>
        <td>76</td>
        <td>
          <div class="row">
            <div class="col">
              71
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 93.42105263157895%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              5
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 6.578947368421052%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/reviews.html">Service</a></td>
        <td>64</td>
        <td>
          <div class="row">
            <div class="col">
              53
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 82.8125%"></div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col">
              11
            </div>
            <div class="col-8 align-self-center">
              <div class="progress" style="width: 96px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 17.1875%"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
