<ul class="nav {{ include.nav-type }} {{ include.isLarge }} {{ include.isStacked }} {{ include.isJustified }}  {{ include.isResponsive }} {{ include.isCardHeaderTabs }}">
  {% for menu in include.list-value-name %}
    <li class="nav-item">
      {% if include.hasIcon %}
        <a class="nav-link {% if page.url contains menu.url %} active {% endif %}" href="{{ site.baseurl }}/{{ menu.url }}">
          <i class="nav-link-icon {{ menu.icon }}"></i>
          <span class="nav-text">{{menu.text}}</span>
        </a>
        {% else %}
        <a class="nav-link {% if page.url contains menu.url %} active {% endif %}" href="{{ site.baseurl }}/{{ menu.url }}">
          <span class="nav-text">{{menu.text}}</span>
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>