<nav class="navbar navbar-light navbar-expand fixed-top" style="background-color: #fff;">
  <a class="navbar-brand" href="{{ site.baseurl }}/app/explore.html">
    <img src="/assets/img/LOGO_Joiners-Colored-01.svg" width="" height="32" alt="">
    <span class="navbar-text">JOINERS</span>
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/app/search.html"><i class="fas fa-search"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/app/cart.html"><i class="fas fa-shopping-bag"></i></a>
    </li>
  </ul>  
</nav>



