---
layout: default

container-type: container-fluid
---

<div class="heading">
  <h1 class="heading-title h3">My Hotels</h1>
</div>

<div class="d-flex align-items-start align-items-center justify-content-between">
  <div>
    <div class="dropdown d-inline-block">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Booking Platform
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item active" href="#">All Booking Platform</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Social Media</h6>
        <a class="dropdown-item" href="#">Facebook</a>
        <a class="dropdown-item" href="#">Twitter</a>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-auto">
        <label class="col-form-label" for="">Rank by:</label>
      </div>
      <div class="col">
        <select class="form-control" name="" id="">
          <option value="">Average User Rating</option>
          <option value="">Negative Comments</option>
          <option value="">Positive Comments</option>
        </select>
      </div>
      <div class="col-auto">
        <label class="col-form-label" for="">Show value as:</label>
      </div>
      <div class="col">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-light active" for="All">
            <input type="radio" name="dasboard-filter" id="All" value="All" checked> Absolute Value
          </label>
          <label class="btn btn-light" for="Engagements">
            <input type="radio" name="dasboard-filter" id="Engagements" value="Engagements"> Percentage
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="dashed">

<div class="card-scrollable">
  {% include components/organisms/hotel-card.html %}
  {% include components/organisms/hotel-card.html %}
  {% include components/organisms/hotel-card.html %}
  {% include components/organisms/hotel-card.html %}
  {% include components/organisms/hotel-card.html %}
  {% include components/organisms/hotel-card.html %}
  {% include components/organisms/hotel-card.html %}
  {% include components/organisms/hotel-card.html %}
  {% include components/organisms/hotel-card.html %}
  {% include components/organisms/hotel-card.html %}
</div>