---
layout: base
---

<div class="navbar navbar-expand-lg navbar-dark fixed-top" id="left-panel">
  <!-- <a class="navbar-brand" href="{{ site.baseurl }}/app/dashboard.html">
    <img class="" src="{{ site.baseurl }}/assets/img/logo_tiaxa.png" alt="" width="" height="32">
  </a> -->
  <button class="navbar-toggler" id="mobile-slider" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="profile">
    <img class="profile-photo" src="{{ site.baseurl }}/assets/img/shangri-la-avatar.jpg" width="96" height="96" alt="">
    <p class="profile-name">Shangri-la Hotels and Resorts</p>
    <p class="profile-branch">Edsa Shangri-La, Manila</p>
    <!-- <a class="dropdown-toggle" href="{{ site.baseurl }}/select-branch.html">Select Account</a> -->
  </div>
  <div class="collapse navbar-collapse" id="global-slider">
    {% include components/molecules/nav-menu.html
      nav-type="navbar-nav"
      isLarge=""
      isStacked="flex-column"
      isJustified=""
      list-value-name=site.data.navigation.global
      hasIcon=""
    %}
    <ul class="navbar-nav flex-column mt-auto">
      <li class="nav-item dropup">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="false">
          <img class="rounded-circle mr-2" src="{{ site.baseurl }}/assets/img/avatar.png" width="32" height="32" alt="">
          <span>Jasper Lepardo</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" data-toggle="modal" href="#select-branch-modal">Select Branch</a>
          <a class="dropdown-item" href="#">Contact Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ site.baseurl }}/login.html">Logout<i class="fas fa-sign-out-alt ml-2"></i></a>
        </div>
      </li>
    </ul>
    <hr class="dashed">
    <p class="small text-muted mb-0">Powered by Tiaxa</p>
  </div>
  <div class="slider-overlay"></div>
</div>

<div id="main-panel">
  <!-- <div class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse">
      <form class="form-inline my-2 my-lg-0" id="global-search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/select-branch.html">
            <div class="media">
              <div class="mr-3">
                <img class="rounded" src="{{ site.baseurl }}/assets/img/shangri-la-avatar.jpg" width="48" height="48" alt="">
              </div>
              <div class="media-body align-self-center">
                <div>Shangri-la Hotels and Resorts</div>
                <div class="small">Edsa Shangri-La, Manila</div>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#"><i class="fas fa-sync-alt mr-2"></i>Refresh Page</a>
            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div> -->
  {% if page.page-layout == "empty" %}
    {{ content }}
    {% else %}
    <main class="{{ page.container-type }}" id="main-content">
      {{ content }}
    </main>
  {% endif %}
</div>



{% include components/organisms/modals/settings-add-new-task-modal.html %}
{% include components/organisms/modals/settings-add-new-category-modal.html %}
{% include components/organisms/modals/settings-add-new-department-modal.html %}
{% include components/organisms/modals/settings-add-new-template-modal.html %}

{% include components/organisms/modals/add-new-task-modal.html %}
{% include components/organisms/modals/reply-modal.html %}
{% include components/organisms/modals/select-branch-modal.html %}


